.app {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class='app'] {
        flex-direction: column;
    }
}

.app__left {
    width: 30%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 16px;
        margin: 10px;
    }
    h1 {
        font-size: 22px;
        margin: 10px;
        padding-top: 10px;
    }
    [class='app__left'] {
        width: 100%;
        flex-direction: row;
        justify-content: right;
        padding: 10px;
    }
}

.app__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    background-color: rgb(179, 173, 173);
}

@media only screen and (max-width: 768px) {
    [class='app__right'] {
        width: 100%;
    }
}

.app__right__image-list {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 100vh;
}

.app__right h1 {
    text-align: center;
}

.app__right__image-list__photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: white;
    margin: 20px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
    background-color: white;
}

.div-description {
    height: 85%;
}

.div-img img {
    width: 100%;
    padding: 2px;
}

.div-description {
    height: 15%;
    margin-bottom: 5px;
}

.app-sub2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 90%; */
    height: 95vh;
    cursor: pointer;
}

.largerImg img {
    width: 100%;
    /* max-width: 95vw; */
    max-height: 100%;
    padding: 5px;
}