.app {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .app {
        flex-direction: column;
    }
}

.app__left {
    width: 30%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px 30px 0px 30px;
    overflow: scroll;
    cursor: text;
}

#about-h2 {
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    #about-h2 {
        cursor: pointer;
        pointer-events: auto;
    }
    h2 {
        font-size: 16px;
        margin: 10px;
    }
    h1 {
        font-size: 22px;
        margin: 10px;
        padding-top: 10px;
    }
    .app__left {
        width: 100%;
        height: 5%;
        flex-direction: row;
        justify-content: right;
        padding: 10px;
        overflow: hidden;
    }
    .app__left p {
        display: none;
    }
}

.app__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    background-color: rgb(179, 173, 173);
}

@media only screen and (max-width: 700px) {
    .app__right {
        width: 100%;
        height: 95%;
    }
}

.app__right__image-list {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 100%;
    height: 100vh;
}

.app__right h1 {
    text-align: center;
}

.app__right__image-list__photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: white;
    margin: 20px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
    background-color: white;
}

@media only screen and (max-width: 700px) {
    .app__right__image-list__photo-container {
        width: 49.99999%;
    }
}

@media only screen and (max-width: 500px) {
    .app__right__image-list__photo-container {
        width: 100%;
    }
}

.div-img img {
    width: 100%;
    padding: 2px;
}

.div-description {
    height: 15%;
    margin-bottom: 5px;
}

.large-img-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-img-page__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    cursor: pointer;
}

.large-img-page__img-container img {
    width: 100%;
    max-height: 100%;
    padding: 5px;
}

.about-page {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10% 20%;
    overflow: scroll;
}