.app {
    height: 100vh;
}

.app-sub {
    display: flex;
    flex-direction: row;
}

.app-sub__left {
    width: 30%;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-sub__right {
    width: 70%;
    height: 100vh;
    background-color: rgb(179, 173, 173);
}

.app-sub__right h1 {
    text-align: center;
}

.app-sub__right__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: white;
    margin: 20px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}

.app-sub__right__photo img {
    width: 100%;
    padding: 2px;
}

.app-sub2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    cursor: pointer;
}

.largerImg img {
    /* width: 80%; */
    height: 100%;
}